braintree
celery
channels
channels-redis
daphne
Django
django-braces
django-extensions
django-localflavor
django-embed-video
python-memcached
django-memcache-status
django-parler
django-rosetta
django_taggit
djangorestframework
easy-thumbnails
flower
Pillow
psycopg2-binary
pyOpenSSL
redis
requests
social-auth-app-django
uwsgi
WeasyPrint
werkzeug
